
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a{
  text-decoration: none !important;
}

a:hover{
  box-shadow: none;
}

ul{
  list-style: none !important;
}

img{
  vertical-align: bottom;
  /* width: 100%; */
}

.container{
  max-width: 1140px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}